name: Build Push events-server to Docker Hub

on:
  push:
    paths:
      - packages/events-server/**
      - packages/common/**
      - package*.json
      - "!.github/**"
      - ".github/workflows/build-push-events-server.yaml"
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          build-args: |
            BUILD=${{ github.sha }}
          file: packages/events-server/Dockerfile
          context: .
          push: true
          tags: |
            pldin601/radioterio-events-server:latest,
            pldin601/radioterio-events-server:${{ github.sha }}

